//============= Buttons ===============
  .btn {
    font-weight: 300;
    letter-spacing: .01em;
    padding: 8px 12px;
    @include border-radius(3px);
    transition: all .2s ease;
  }
  .btn.small-radius {
    @include border-radius(2px);
  }
  .btn.no-radius {
    @include border-radius(0px);
  }
  .btn-default {
    border-color: $border-color-light;
    &:hover {
      background: darken($gray-lightest, 10%);
    }
  }
  .btn-primary {
    background: $le-blue;
    border-color: $le-blue;
    color: white;
    &:hover {
      background: darken($le-blue, 10%);
      color: white;
    }
  }
  .btn-success {
    background: $success;
    border-color: $success;
    color: white;
    &:hover {
      background: darken($success, 10%);
      color: white;
    }
  }

  .btn-purple {
    background: $app-purple;
    border-color: $app-purple;
    color: white;
    &:hover {
      background: darken($app-purple, 10%);
      color: white;
    }
  }

  .btn-green {
    background: $app-green;
    border-color: $app-green;
    color: white;
    &:hover {
      background: darken($app-green, 10%);
      color: white;
    }
  }

  .btn-slate {
    background: $slate-dark;
    border-color: $slate-dark;
    color: white;
    &:hover {
      background: darken($slate-dark, 10%);
      color: white;
    }
  }

  .btn-slate-outline {
    background: transparent;
    border-color: $slate-dark;
    color: $slate-dark;
    &:hover {
      background: darken($slate-dark, 10%);
      color: white;
    }
  }

  .btn-gray-outline {
    background: transparent;
    border-color: $gray-medium;
    color: $gray-medium;
    &:hover {
      background: darken($slate-dark, 10%);
      color: $gray-medium;
    }
  }

  .btn-primary-outline {
    background: transparent;
    border-color: $le-blue;
    color: $le-blue;
    &:hover {
      background: darken($le-blue, 10%);
      color: white;
    }
  }

  .btn-warning-outline {
    background: transparent;
    border-color: $warning;
    color: $warning;
    &:hover {
      background: darken($warning, 10%);
      color: white;
    }
  }

  .btn-danger {
    background: $danger;
    border-color: $danger;
    color: white;
    &:hover {
      background: darken($danger, 10%);
      color: white;
    }
  }

  .btn-danger-outline {
    background: transparent;
    border-color: $danger;
    color: $danger;
    &:hover {
      background: darken($danger, 10%);
      color: white;
    }
  }

  .btn-black {
    background: black;
    border-color: black;
    color: white;
    &:hover {
      background: lighten(black, 10%);
      color: white;
    }
  }

  .btn-black-outline {
    background: transparent;
    border-color: black;
    color: black;
    &:hover {
      background: darken(black, 10%);
      color: white;
    }
  }

  .btn-white {
    background: white;
    border-color: white;
    color: black;
    &:hover {
      background: darken(white, 10%);
      color: black;
    }
  }

  .btn-white-outline {
    background: transparent;
    border-color:white;
    color: white;
    &:hover {
      background: black;
      color: white;
    }
  }

  .btn-white-transparent {
    background: transparent;
    border-color:transparent;
    color: white;
    &:hover {
      background: black;
      color: white;
    }
  }

  .btn-primary-transparent {
    background: transparent;
    color: $le-blue;
    border-color: transparent;
    &:hover {
      background: $le-blue;
      border-color: $le-blue;
      color: white;
    }
  }

  .btn-large {
    font-size: 16px;
    padding: 12px 18px;
  }

  .btn-x-large {
    font-size: 18px;
    padding: 16px 18px;
  }


  .btn-small {
    padding: 4px 8px;
  }

  .btn-full-width {
    display: block;
    width: 100%;
  }

  .btn-pill {
    @include border-radius(100px);
  }
