// ====== Compass Stuff =========
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/images";
@import 'compass/css3/filter';

//============ Mixins,variables,modules, buttons, etc. =================
@import "variables";
@import "mixins";

// ====== Resets & Base =========
@import "normalize";
@import "grid";
@import "base";

@import "modules";
@import "buttons";


//--------------> General Classes

.text-center {
	text-align: center;
}

.mt-10 {
	margin-top: 10px;
}
.mt-15 {
	margin-top: 15px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-25 {
	margin-top: 25px;
}
.mt-30 {
	margin-top: 30px;
}
.mt-40 {
	margin-top: 40px;
}
.mt-50 {
	margin-top: 50px;
}
.mt-75 {
	margin-top: 75px;
}
.mt-100 {
	margin-top: 100px;
}

.mt-200 {
	margin-top: 200px;
}

.mt-300 {
	margin-top: 300px;
}

.mt-400 {
	margin-top: 400px;
}

.limit-width-600 {
	max-width: 600px;
	margin: auto;
}

.light-gray-bg {
  background: $tb-gray-light;
}

///---- type

h1,h2,h3 {
  margin: 0;
}

.fw-400 {
  font-weight: 400;
}
.fw-800 {
  font-weight: 800;
}

.gray {
  color: $gray-medium;
}

//headings
.section-headline {
	font-family: $sans-alt;
	font-weight: 800;
}
h1.section-headline {
	font-size: 2.65rem;
}

h2.section-headline {
	font-size: 2.0rem;
}

.section-subhead {
	font-family: $serif;
	font-size: .95rem;
    line-height: 1.75rem;
    font-weight: 400;
    color: $tb-gray;
}


//Filters

.grayscale {
  @include filter(grayscale(1));
}

.grayscale-hc {
  @include filter(grayscale(1) contrast(2));
}

.blur {
  @include filter(blur(2px));
}

//adfads
// ---------------> Primary Layout

#main {
  transition: all 0.3s ease-in-out;
  transform-style: flat;
}

.menu-open #main {
  @include filter(blur(12px));
}

//----------
#hero {
  position: relative;
}

#hero-main {
  display: flex;
  height: 100vh;
}
.hero-left {
  background: white;
  width: 40%;
  .hero-left-bottom {
   	width: 40%;
    position: absolute;
    bottom: 0;
    .timeline {
      width: 80%;
      margin: auto;
      font-weight: 300;
      letter-spacing: 8px;
      line-height: 8rem;
        span {
          display: inline-block;
        }
      .timeline-line {
        border-top: 1px solid black;
        width: 60px;
        margin-right: 4px;
        margin-left: -3px;
        //transform: rotate(-45deg);
        //top: -80px;
      }
      .current-slide-count {
        width: 33px;
        position: relative;
        &:before {
          display: block;
          content: '';
          position: absolute;
          top: 30px;
          width: 50px;
          border-top: 6px solid $tb-gray;
        }
      }
    }
  }
}
.hero-right {
  display: flex;
  flex-direction: column;
  background: #efefef;
  width: 60%;
  img {
    width: 100%;
    height: auto;
    max-width: 100%;
    image-rendering: -webkit-optimize-contrast;
   // filter: grayscale(1) contrast(2.5);
    transition: all .5s ease;
    //&:hover {
	 //   filter: grayscale(0) contrast(1);
    //}
  }
  .hero-item-bottom {
    position: relative;
    flex-grow: 1;
    background: $tb-orange;
    background: linear-gradient(to right, #b52b72 0%, #ce3d4b 50%, #e65926 100%);
    /* background: linear-gradient(to right, #32cec3 0%, #36b4c7 50%, #3f96d8 100%); */
    display: flex;
    align-items: center;
    justify-content: center;
    .hero-item-button {
      //position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      //right: 0;
      //width: calc(50% + 30px);
      height: 100%;
      color: white;
      .hero-item-button-top {
        //font-family: $sans;
        font-weight: 800;
        font-size: 1.8rem;
      }
      .hero-item-button-bottom {
        font-family: $serif;
        font-size: 1rem;
      }
    }
  }
}

.hero-content-wrap {
	width: 80%;
	margin: 30px auto 0;
	position: relative;

}

.hero-item {
  &.hero-item-content {
    display: none;
    &#first {
      display: block;
    }
    .content-title {
      position: relative;
     // left: -5px;
      font-family: $sans-alt;
      font-weight: 800;
      font-size: 4.2rem;
      .dev-icon {
        font-weight: 400;
        font-family: $sans;
        font-size: .8em;
      }
    }
    .content-description {
      margin-top: 20px;
      font-family: $serif;
      font-size: .95rem;
      line-height: 1.75rem;
      color: $tb-gray;
    }
  }
}

.hero-item-nav {
  width: 80%;
  margin: auto;
  position: relative;
  z-index: 10;
  a {
    text-decoration: none;
    color: black;
    font-size: 3.0rem;
  }
}


.hero-left-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  .brand {
      //font-family: $sans;
      .brand-icon {
        display: inline-block;
        position: relative;
        top: -3px;
      }
  }

  &.attached {
    background: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 1000;
  }
}

.hero-menu-trigger {
  width: 20px;
  height: 20px;
  padding: 10px;
  cursor:pointer;
}

#hamburger-icon {
  width: 20px;
  height: 12px;
  position: relative;
  margin: -10px 0 0 -10px;
}
#hamburger-icon .line {
  display: block;
  background: #595a59;
  width: 10px;
  height: 2px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 1px;
  cursor: pointer;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  &.line-2 {
    top: 50%;
    width: 20px;
  }
  &.line-3 {
    top: 100%;
    width: 15px;
  }
}

#hamburger-icon:hover {
  .line {
    width: 100% !important;
  }
}


.main-menu {
  visibility: hidden;
  position: fixed;
  bottom: -100%;
  width: 100%;
  height: 0;
  overflow: hidden;
  background: rgba(black, .8);
  color: white;
  z-index: 2000;

  &.menu-active {
    //visibility: visible;
    //display: block;
    //height: 100%;
    //bottom: 0;
  }
  &.menu-active-out {
   // bottom: 100%;
  }
  .menu-header {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .brand {
      position: relative;
      top: -7px;
    }
  }

  .close-menu-btn {
   // width: 30px;
    position: relative;
    top: -5px;
    height: 25px;
    line-height: 25px;
    background: transparent;
    //border-right: 2px solid $tb-gray;
    padding-right: 7px;
    text-align: right;
    font-size: .9rem;
    font-weight: 300;
    cursor: pointer;
    transition: all .2s ease;
    &:after, &:before {
      display: block;
      content: "";
      width: 2px;
      height: 25px;
      background: #707e89;
      position: absolute;
      right: 0;
      top: 0;
      transition: all .2s ease;
    }


    &:hover {
      padding-right: 20px;
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  .menu-body {
    display: flex;
    .menu-left {
      width: 50%;
      padding: 40px;
    }
    .menu-right {
      width: 50%;
      padding: 40px;
    }
  }

  .menu-links {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        padding: 5px 0;
        a {
          font-size: 2.4rem;
          font-weight: 800;
          padding: 5px 0;
          text-decoration: none;
          color: white;
        }
      }
    }
  }

}

//____ Home Body Sections

.hero-item-panel {
  position: relative;
  z-index: 100;
  //bottom: 0;
  //left: -30px;
  background: $tb-blue;
  color: #fff;
  //outline: 30px solid rgba(255, 197, 78, .35);
  outline: 30px solid rgba($tb-blue,0.5);
  //width: 50%;
  padding: 40px;
  // min-height: 300px;
  ul {
    list-style: none;
    // font-family: $sans;
    // color: white;
    padding: 0;
    margin: 0;
    li {
      padding: 7px 0;
    }
  }
}

.section-testimonial {
  width: 80%;
  margin: auto;
  .testimonial-title {
    font-family: $sans-alt;
    font-size: 2.1rem;
    font-weight: bold;
  }
  .testimonial-body {
    margin-top: 20px;
    font-family: $serif;
    font-size: .95rem;
    line-height: 1.75rem;
    color: $tb-gray;
  }
  .testimonial-name {
    margin-top: 15px;
    &:before {
      display: inline-block;
      content: "";
      width: 40px;
      height: 3px;
      background: $tb-orange;
      margin-right: 5px;
    }
  }
}


// home recent projects

.project {
  @include aspect-ratio(4.5,3);
  @media (max-width: 991px) {
    @include aspect-ratio(3,1);
    margin: 20px;
  }
  background: url('https://spigotdesign.com/wp-content/uploads/2017/12/pcfd-station.jpg') no-repeat center;
  background-size: cover;
  .project-inner {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    transition: all .25s ease;
    &:before, &:after {
      position: absolute;
      z-index: 1;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0,0,0,.425);
      opacity: 1;
      transition: all .25s ease;
    }
    &:after {
      background: linear-gradient(to right, rgba(#b52b72, .8) 0%, rgba(#ce3d4b, .8) 50%, rgba(#e65926, .8) 100%);
      opacity: 0;
    }
    .project-title {
      position: relative;
      z-index: 5;
      .project-logo {
        font-family: $sans-alt;
        font-size: 30px;
      }
      .project-extra {
        font-family: $serif;
        height: 0;
        opacity: 0;
        transition: all .25s ease;
        &:before {
          //line divider here
        }
      }
    }
    &:hover {
      &:before {
        opacity: 0;
      }
      &:after {
        opacity: 1;
      }
      .project-extra {
        opacity: 1;
        height: 30px;
        transform: translateY(20px);
      }
    }
  }
}


//-- #About
#about {
  padding: 200px 40px 100px;
}

//_____ Sections/Grid

.section-row {

}
.flex-row {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-40 {
  width: 40%;
}

.section-60 {
  width: 60%;
}

